* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backround {
    background-image: url("../Images/sex_cu_react.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

.img {
    height: 12rem;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
